@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bottom-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0;
    border-top: 1px solid #e5e7eb;
}

.bottom-navigation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b5563;
}

.bottom-navigation i {
    font-size: 1.25rem;
    color: #4b5563;
}

.bottom-navigation Link {
    font-size: 0.75rem;
    color: #4b5563;
}

.bottom-navigation Link.active {
    color: #489b46;
}